@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
* {margin: 0;}
#head { 
    padding:0; 
    margin:0; 
    padding-top: 0.1px;
    padding-bottom: 15px;
    display: block; 
    height: 150px; 
    text-shadow: 2px -1px 2px #000;
    background-image: url(https://images.hdqwalls.com/download/avengers-infinity-war-4k-hm-2560x1080.jpg);
    background-color: rgba(248, 11, 11, 0.75); 
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 200%;
    line-height:200px;
}
h1{font-family: 'Josefin Sans', sans-serif;}

body { 
    font-family: Arial, sans-serif; /* Рубленый шрифт */ 
    background-color: rgb(41, 36, 46);
}

.header{
    width: 100%;
    height: 100px;
    background-size: cover;
    overflow: hidden;
    background-color: red;
}
/*New MAIN*/
.navbar input[type="checkbox"],
.navbar .hamburger-lines {display: none;}
.navbar {
  box-shadow: 0px 5px 10px 0px #2a2a2a;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.95;
  height: 50px;
  z-index: 1001;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}
.menu-items {
  order: 2;
  display: flex;
  margin-right: 1.5rem;
}
.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.menu-items a {
  text-decoration: none;
  color: #403f3f;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}
.menu-items a:hover {
  color: #117964;
  transition: color 0.3s ease-in-out;
}
.logo {
  order: 1;
  font-size: 2.3rem;
  margin-bottom: 0.2rem;
}
@media (max-width: 700px) {
  .navbar {opacity: 0.95}
  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {display: block;}
  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }
  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 10px;
    right: 21px;
    z-index: 5;
    opacity: 0;
  }
  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }
  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .navbar-container .hamburger-lines .line2{transition: transform 0.2s ease-in-out;}
  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .navbar .menu-items {
    position: relative;
    padding-top: 100px;
    height: 100vh;
    max-width: 250px;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.7s ease-out;
    box-shadow: 5px 55px 10px 0px #2a2a2a;
    background-color: #fff;
  }
  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }
  .logo {
    position: absolute;
    top: 12px;
    left: 15px;
    font-size: 2rem;
  }
  .navbar-container input[type="checkbox"]:checked ~ .menu-items {transform: translateX(0)}
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {transform: rotate(35deg);}
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {transform: scaleY(0);}
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {transform: rotate(-35deg);}
}
/*Сердечко*/
.heart {
  background-color: #c6c6c6;
  display: inline-block;
  height: 30px;
  position: relative;
  top: 10px;
  transform: rotate(-45deg);
  width: 30px; 
}
.heart:before,.heart:after {
  content: "";
  background-color: #c6c6c6;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}
.heart:before {top: -15px;left: 0;}
.heart:after {left: 15px;top: 0;}
.clicked,.clicked:after,.clicked:before {background-color: red;}
/*карточки*/
.mains{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(to top, #cfe0a1, 96%, #29242e);
    background-size: 100% 100%;
    padding-top: 30px;
}
.mains .card{
    position: relative;
    width: 300px;
    height: 420px;
    background: rgba(255, 255, 255, .7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.17);
    transition: 0.5s;
    filter:blur(0px);
    margin-bottom: 55px;
}
.mains:hover .card{
    filter:blur(5px);
    transform: scale(0.9);
    opacity: 0.5;
}
.mains .card:hover{
    filter:blur(0px);
    transform: scale(1.1);
    opacity: 1;
}
.mains .card .circle{
    position: relative;
    width: 100%;
    height: 100%;
    background: black;
    clip-path: circle(160px at center 0);
    text-align: center;
}
.mains .card .circle h2{
    color: white;
    font-size: 4.5em;
    padding: 30px 0;
    text-shadow: 0 0 30px #ffffff;
    font-family: 'Josefin Sans', sans-serif;
}
.mains .card .content{
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 60px;
    page-break-after: 20px;
    text-align: center;
}
.mains .card .content p{
    color: grey;
    font-size: 1.5em;
}
.mains .card .content a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: black;
    color: white;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 30px;
    font-size: 1.5em;
}
.mains .card:nth-child(1) .circle,
.mains .card:nth-child(1) .content a{background: #be8913;}
.mains .card:nth-child(2) .circle,
.mains .card:nth-child(2) .content a{background: #b4065d;}
.mains .card:nth-child(3) .circle,
.mains .card:nth-child(3) .content a{background: #156915;}
/*Jonny*/
.images {
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.images div {
display: flex;
margin: 1rem;
}
.images img {
width: 100%;
height: auto;
object-fit: contain;
align-self: flex-start;
}
div#imagetext{
position: relative;
width: 500px;
}
.images:hover .imagetext {
transition: 2s;
opacity: 1;
cursor: pointer;
}
.imagetext {
position: absolute;
padding-top: 500px;
text-transform: uppercase;
color: #8b7878;
width: 300px;
right: 0px;
text-align: right;
opacity: 0; transition: 2s;
}
.imagetext span {
font: bold 24px/44px Helvetica, Sans-Serif;
background: #00000094;
padding: 8px;
}
blockquote {
    background: rgba(255, 255, 255, .7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    padding: 25px;
    border: 1px solid #eee;
    text-align: justify;
    position: absolute;
    font-weight: 500;
    clear: both;
    font-style: italic;
    margin-top: -360px;
    margin-left: -50px;
    margin-right: 50px;
}
blockquote:before {
    color: #64594e;
    position: absolute;
    line-height: 1;
    font-size: 25px;
    z-index: 0;
    transition: .2s ease-in;
    font-family: FontAwesome;
    left: -18px;
    top: -21px;
    font-style: normal;
    padding: 7px;
    content: "\f10d";
    border: 1px solid #ddd
}
blockquote:after {
    content: "\f10e";
    border: 1px solid #ddd;
    position: absolute;
    font-size: 25px;
    color: #64594e;
    z-index: 0;
    font-family: FontAwesome;
    line-height: 1;
    bottom: -21px;
    right: -18px;
    font-style: normal;
    transition: .2s ease-in;
    padding: 7px;
}
/*Styling Footer*/
.footer {
  position: relative;
  width: 100%;
  background: rgb(30, 170, 170);
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  margin-right: 40px;
}

.social-icon_elem,
.menu_elem {
  list-style: none;
}

.social-icon_link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon_link:hover {
  transform: scale(1.2) translateY(10px);
  text-shadow: 0 0px 10px #ffffff;
}

.menu_link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu_link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 10px;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: url(../print/wave.png);
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 6s linear infinite;
}
.wave#wave2 {
  z-index: 999;
  opacity: 0.6;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}
.wave#wave3 {
  z-index: 1000;
  opacity: 0.4;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}
.wave#wave5 {
  z-index: 998;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 2s linear infinite;
}
.wave#wave4 {
  z-index: 999;
  opacity: 0.8;
  bottom: 20px;
  animation: animate 5s linear infinite;
}
@keyframes animateWaves {
  0% {background-position-x: 1000px;}
  100% {background-positon-x: 0px;}
}
@keyframes animate {
  0% {background-position-x: -1000px;}
  100% {background-positon-x: 0px;}
}
/*Gallery*/
#gallery{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
/*Login*/
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form .c{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #8db1e3;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  padding-left: 100px;
  padding-right: 100px;
  margin: 10px 0 10px 0;
}
.form .c:hover,.form button:active,.form .c:focus {background: #4b75c4;}
.form .message {
  margin: 25px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {display: none;}
/*Тест*/
.bbb{
    justify-content: center;
    align-items: center;
    display: block;
    position: absolute;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 30%;
    padding-right: 20px;
    padding-bottom: 50px;
    border-radius: 10px;
    background: Linear-gradient(to left top, #0f9b90, #b1d08e);
    font-size: 20px;
    color: #053939;
}
#test div {
  margin-bottom: 20px;
  margin-left: 30px;
  margin-top: 20px;
}

#button {margin-left: 30px;}

input {
    display: block;
    width: 60%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: rgba(255, 255, 255, 0.6);
    background-clip: padding-box;
    border: 2px solid #0f7ae5;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: .375rem .75rem;
    font-size: 18px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.correct {border: 2px solid green;}
.incorrect {border: 2px solid red;}
/* ----   GREAT GALLERY   ----*/
.sovgallery-wrapper {
    overflow: hidden;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 10px 0 10px;
}

.sovgallery-wrapper .sovcanvas {
    position: absolute;
    z-index: 4;
}

.sovgallery-wrapper .sovprog {
    position: absolute;
    overflow: hidden;
    z-index: 4;
}

.sovgallery-wrapper .sovprog-inn {
    position: absolute;
}
.sovgallery-wrapper .sovslider-wrapper {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    background-color: #000000;
}

.sovslider-wrapper .sovslidcont {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
}
.sovslider-wrapper .sovslide-wrapper {position: absolute;}

.sovslider-wrapper .sovslider-inn {
    position: absolute;
    z-index: 0;
}

.sovslider-wrapper .sovitem-wrapper {
    position: absolute;
    overflow: hidden;
}

.sovslider-wrapper,
.sovitem-wrapper img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    max-width: none !important;
    box-sizing: border-box;
}

.sovgallery-wrapper .sovthumbs-strip-inner,
.sovgallery-wrapper .sovthumbs-grid-inner {position: absolute;}

.thumbwrap.sovthumb-generated {
    position: absolute;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.thumbwrap .sovthumb-border-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 4;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-style: solid;
}

.thumbwrap .sovthumb-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
}

.thumbwrap.sovthumb-generated img {
    position: absolute;
    z-index: 1;
    max-width: none !important;
}

.thumbwrap.sovthumb-generated img.sovthumb-image-overlay {
    position: absolute;
    z-index: 2;
    max-width: none !important;
}
/*текстовая панель*/
.sovgallery-wrapper .sovtextpanel {
    position: absolute;
    overflow: hidden;
}

.sovslider-wrapper .sovtextpanel { z-index: 2;}

.sovgallery-wrapper .sovtextpanel-bg,
.sovgallery-wrapper .sovtextpanel-title,
.sovgallery-wrapper .sovtextpanel-description {
    display: block;
    position: absolute;
    margin: 0px;
    padding: 0px;
}

.sovgallery-wrapper .sovtextpanel-bg {
    background-color: #000000;
    opacity: 0.4;
    filter: alpha(opacity=40);
    z-index: 1;
}

.sovtextpanel-textwrapper {overflow: hidden;}

.sovgallery-wrapper .sovtextpanel-title {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: left;
    z-index: 2;
}

.sovgallery-wrapper .sovtextpanel-description {
    font-size: 14px;
    color: white;
    text-align: left;
    z-index: 3;
    text-shadow: 0 0 1px black;
}

/* Прокрутка основной панели */

.arrowll.skins,
.arrowrr.skins {
    width: 15px;
    height: 30px;
    background-image: url('../print/slider_arrow_left.png');
    background-position: 0px 0px;
}

.arrowrr.skins { background-image: url('../print/slider_arrow_right.png');}
.arrowll.skins.sovarrhover,
.arrowrr.skins.sovarrhover {background-position: 0px -30px;}

/* Прокрутка нижней панели */

.stpanel .arrowl.skins,
.stpanel .arrowr.skins {
    width: 25px;
    height: 50px;
}

.stpanel .arrowl.skins .arrowdown,
.stpanel .arrowr.skins .arrowdown {
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 4px;
    height: 7px;
}
.stpanel .arrowl.skins .arrowdown {background-image: url('../print/arrows_strip_left.png');}
.stpanel .arrowr.skins .arrowdown {background-image: url('../print/arrows_strip_right.png');}


